@model web2.Models.Owner
@{
	ViewBag.Title = "More";
}

<h2>@ViewBag.Title</h2>
<article>
	This could be more information about @Model.FirstName @Model.LastName. But instead it's a lorem ipsum.

	<p>Instruments with six or eight strings in four courses are often called taropatches, or taropatch ukuleles. They were once common in a concert size, but now the tenor size is more common for six-string taropatch ukuleles. The six-string, four-course version, has two single and two double courses, and is sometimes called a lili'u, though this name also applies to the eight-string version.</p>

	<p>The following chart shows the range of notes of standard ukulele types. Note that range varies with the tuning and size of the instruments.  The examples shown in the chart reflect the range of each instrument from the lowest standard tuning, to the highest fret in the highest standard tuning.</p>

	<p>One of the most common tunings for the standard or soprano ukulele is C6 tuning: G4–C4–E4–A4, which is often remembered by the notes in the "My dog has fleas" jingle (see sidebar).  The G string is tuned an octave higher than might be expected, so this is often called "high G" tuning. This is known as a "reentrant tuning"; it enables uniquely close-harmony chording.</p>
</article>
@using (Html.BeginForm(FormMethod.Post)) {
	<button class="button-cancel" id="btnCancel" name="btnSubmit" value="close">Close</button>}
</div>

