
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_LIKES](
	[UID] [bigint] NOT NULL,
	[EventID] [bigint] NOT NULL,
 CONSTRAINT [PK_EVENT_LIKES_e] PRIMARY KEY CLUSTERED 
(
	[UID] ASC,
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_RATINGS](
	[RateID] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [bigint] NOT NULL,
	[EventID] [bigint] NOT NULL,
	[Rating] [tinyint] NOT NULL,
 CONSTRAINT [PK_EVENT_RATINGSe] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EVENT_LIKES] ADD  CONSTRAINT [DF_EVENT_LIKES_UIDe]  DEFAULT ((0)) FOR [UID]
GO
ALTER TABLE [dbo].[EVENT_LIKES] ADD  CONSTRAINT [DF_EVENT_LIKES_EventIDe]  DEFAULT ((0)) FOR [EventID]
GO
ALTER TABLE [dbo].[EVENT_RATINGS] ADD  CONSTRAINT [DF_EVENT_RATINGS_UIDe]  DEFAULT ((0)) FOR [UID]
GO
ALTER TABLE [dbo].[EVENT_RATINGS] ADD  CONSTRAINT [DF_EVENT_RATINGS_EventIDe]  DEFAULT ((0)) FOR [EventID]
GO
ALTER TABLE [dbo].[EVENT_RATINGS] ADD  CONSTRAINT [DF_EVENT_RATINGS_Ratinge]  DEFAULT ((0)) FOR [Rating]
GO
